/*-------------------------Google Fonts----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

/*-------------------------General----------------------- */
body {
    background-color: #FFFCF7;
    color: #08060E;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------------Margins----------------------- */
.container-fluid {
    padding-left: 0;
}

.row {
    margin-right: 0;
}

/*-------------------------Header----------------------- */
#logo {
    height: 6rem;
}

.navbar {
    padding: .5rem;
    background-color: #08060E;
    font-size: 1rem;
}

.navbar-brand {
    padding-top: 0;
}

.nav-link {
    color: #FFFCF7;
    letter-spacing: .2rem;
}
.nav-link:hover {
    color: #82ECF7;
}

.nav-item .active {
    font-weight: 600;
}

.navbar-toggler-icon {
    color: #FFFCF7;
    font-size: 1rem;
    padding-right: .5rem;
}

.navbar-collapse {
    padding-top: .5rem;
    text-align: center;
}

.dropdown-menu {
    background-color: #08060E;
    text-align: center;
}
.dropdown-item {
    color: #FFFCF7;
    font-weight: 200;
}
hr {
    color: #FFFCF7;
}

/*-------------------------Footer----------------------- */
.footer-section {
    background-color: #08060E;
    color: #FFFCF7;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    font-size: .8rem;
}

.footer-section a {
    color: #FFFCF7;
    text-decoration: none;
}

.footer-section a i {
    color: #FFFCF7;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: none;
}

.footer-copyright {
    text-align: left;
    font-weight: 200;
}

/*-------------------------Home Page----------------------- */


/*-------------------------Cocktails Page----------------------- */


/*-------------------------Register Page----------------------- */
.register-card,
.login-card,
.contact-card {
    margin: 0;
    padding: 2rem 1rem;
    text-align: center;
}

.card {
    padding: 1rem 0;
}

.register-form,
.login-form,
#contactForm {
    text-align: left;
    padding: 2rem;
}
