{% extends "base.html" %}
{% block content %}

    <a href="{{ url_for('add_category') }}" class="btn btn-primary">Add Category</a>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4">
                <div class="card category-card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.category_name }}</h5>
                    </div>
                     <a href="{{ url_for('edit_category',category_id=category._id) }}" class="btn btn-success">Edit</a>
                     <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal_{{category._id}}">Delete</a>  
                </div>
            </div>

            <!-- DELETE-CATEGORY CONFIRMATION MODAL -->
            <div class="modal fade" id="delete_modal_{{category._id}}" aria-labelledby="Confirm Deletion Modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are You Sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Once you delete this category, it's gone forever! <br>
                                Are you really sure you want to delete it?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!-- cancel deletion; closes modal -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <!-- confirms deletion of category -->
                            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-danger">Delete</a> 
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>    
{% endblock %}