{% extends "base.html" %}
{% block content %}

    <!-- COCKTAIL CARD -->
    <div class="card cocktail-recipe">
        <div class="row">
            <h1>{{ recipe.cocktail_name }}</h1>
            <p>
                Type of Cocktail: {{ recipe.category_name }} <br>
                <em><small>By: {{ recipe.created_by }}</small></em>
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="{{ recipe.cocktail_image }}" class="card-img-top" alt="{{ recipe.cocktail_name }} Image">
            </div>
            <div class="col-lg-6 recipe-instructions">
                <h4>Instructions:</h4>
                {% for line in recipe.cocktail_ingredients.splitlines() %}
                    <ul>
                        <li>{{ line }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="recipe-steps">
                <h4>Steps:</h4>
                {% for line in recipe.cocktail_steps.splitlines() %}
                    <ul>
                        <li>{{ line }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <!-- only allow author of recipe to have the option to Edit and Delete it -->
        {% if recipe.created_by == session["user"] %}
            <a href="{{ url_for('edit_cocktail', recipe_id=recipe._id) }}" class="btn btn-success">Edit</a>
            <!-- triggers modal to open when clicked to prevent accidental deletions -->
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal_{{recipe._id}}">Delete</a>
        {% endif %}
        
        <!-- DELETE-COCKTAIL CONFIRMATION MODAL -->
        <div class="modal fade" id="delete_modal_{{recipe._id}}" aria-labelledby="Confirm Deletion Modal" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are You Sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Once you delete your delicious cocktail recipe, it's gone forever! <br>
                        Are you really sure you want to delete it?
                    </p>
                </div>
                <div class="modal-footer">
                    <!-- cancel deletion; closes modal -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- confirms deletion of cocktail recipe -->
                    <a href="{{ url_for('delete_cocktail', recipe_id=recipe._id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            </div>
        </div>     
    </div>

{% endblock %}