{% extends "base.html" %}
{% block content %}]
    <div class="recipe-page">
        <h2>{{ recipe.cocktail_name }}</h2>
        <div class="recipe-img">
            <img src="{{ recipe.cocktail_image }}" alt="">
        </div>
        <div>
            {{ recipe.created_by }}
        </div>
        <div>
            {{ recipe.category_name }}
        </div>
        <div>
            {{ recipe.cocktail_ingredients }}
        </div>
        <div>
            {{ recipe.cocktail_steps }}
        </div>
    </div>


{% endblock %}