{% extends "base.html" %}
{% block content %}

    <!-- COCKTAIL CARD -->
    <div class="card cocktail-recipe">
        <div class="row return-link">
            <a href="{{ url_for('get_cocktails') }}">Back to All Recipes</a>
        </div>
        <div class="row">
            <h2>{{ recipe.cocktail_name }} <br>
                <!-- only allow author of recipe to have the option to Edit and Delete it -->
                {% if recipe.created_by == session["user"] %}
                    <a href="{{ url_for('edit_cocktail', recipe_id=recipe._id) }}" class="btn btn-success">
                        <i class="fas fa-edit"></i>
                    </a>
                    <!-- triggers modal to open when clicked to prevent accidental deletions -->
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal_{{recipe._id}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                {% endif %}
            </h2>
            <p>
                Type of Cocktail: {{ recipe.category_name }} <br>
                <em><small>By: {{ recipe.created_by }}</small></em>
            </p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 cocktail-img">
                <img src="{{ recipe.cocktail_image }}" class="card-img-top" alt="{{ recipe.cocktail_name }} Image">
                <small><i class="fas fa-camera cam-icon"></i> Credits: {{ recipe.image_credit }}</small>
            </div>
            <div class="col-lg-6 recipe-ingredients">
                <h3>Ingredients:</h3>
                {% for line in recipe.cocktail_ingredients.splitlines() %}
                    <ul>
                        <li>{{ line }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="recipe-steps">
                <h3>Steps:</h3>
                {% for line in recipe.cocktail_steps.splitlines() %}
                    <ul>
                        <li><i class="fas fa-cocktail"></i>{{ line }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        
        <!-- DELETE-COCKTAIL CONFIRMATION MODAL -->
        <div class="modal fade" id="delete_modal_{{recipe._id}}" aria-labelledby="Confirm Deletion Modal" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header row">
                    <h4 class="modal-title">Are You Sure?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Once you delete your delicious cocktail recipe, it's gone forever! <br>
                        Are you really sure you want to delete it?
                    </p>
                </div>
                <div class="modal-footer">
                    <!-- cancel deletion; closes modal -->
                    <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal">Cancel</button>
                    <!-- confirms deletion of cocktail recipe -->
                    <a href="{{ url_for('delete_cocktail', recipe_id=recipe._id) }}" class="btn del-btn">Delete</a>
                </div>
            </div>
            </div>
        </div>     
    </div>

{% endblock %}