{% extends "base.html" %}
{% block content %}
   
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card cocktail-card">
                    <img src="{{ recipe.cocktail_image_url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.cocktail_name }}</h5>
                        <p class="card-text">Main Alcohol: <strong>{{ recipe.category_name }}</strong></p>
                        <small>By: {{ recipe.created_by }}</small>
                    </div>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}