{% extends "base.html" %}
{% block content %}
    <!-- HERO IMAGE -->
    <div class="hero-container">
        <img src="static/images/hero.jpg" class="img-fluid hero-image" alt="Bar with neon sign">
    </div>
    <!-- End of HERO IMAGE -->

    <!-- MAIN CONTENT -->
    <div class="container-fluid row align-items-center">
        <h1>Pick Your Poison</h1>
        <div class="col-md-6 home-content">
            <p>
                Welcome to <em>Pick Your Poison</em>! If you have found yourself here, I think we can safely assume that
                we share a common interest or love; cocktails!
            </p>
            <p>
                We created this site with people like you in mind. We wanted somewhere where people could come to uncover
                new and exciting cocktails as well as being able to share their own recipes with the rest of the community! <br>
            </p>
            <p>
                So don't be shy! Browse through our recipes, create an account and share your own cocktails with us!
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid home-image" src="static/images/home-cocktails.jpeg" alt="">
        </div>
    </div>
    <!-- End of MAIN CONTENT -->

    <!-- SEARCH BAR -->
    <div class="row justify-content-center search-section">
        <div class="col-sm-12 col-md-10">
            <!-- search bar form -->
            <form class="search-bar" method="POST" action="{{ url_for('search') }}">
                <!-- search bar -->
                <div class="input-group">
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                    <input type="search" class="form-control rounded" placeholder="Search for a cocktail or ingredient..." aria-label="Search"
                      aria-describedby="search-addon" name="search" id="search" minlength="3" required/>
                </div>
                <!-- search submit button -->
                <div class="d-block gap-2 d-flex justify-content-end search-btns">
                    <a href="{{ url_for('index') }}" class="btn btn-primary reset-btn">Reset</a>
                    <button type="submit" class="btn btn-primary search-btn">Search</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End of SEARCH BAR -->

    <!-- LINKS -->
    <div class="container-fluid row home-links">
        <!-- link to view all recipes -->
        <p>
            Click <a href="{{ url_for('get_cocktails') }}">Here</a> To View All Cocktail Recipes
        </p>
        {% if not session.user %}
            <!-- link to register for account; only availble to users not currently logged in -->
            <p>
                <a href="{{ url_for('register') }}">Create an Account</a> to Add and Edit Your Own Recipes!
            </p>
        {% endif %}
    </div>
    <!-- End of LINKS-->

{% endblock %}