{% extends "base.html" %}
{% block content %}
    <!-- HERO IMAGE -->
    <div class="hero-container">
        <img src="static/images/hero-image.jpg" class="img-fluid" alt="Variety of cocktail drinks">
    </div>
    <!-- End of HERO IMAGE -->

    <!-- MAIN HEADING -->
    <div class="container-fluid">
        <h1>Cocktails</h1>
        <p>Content here</p>
    </div>
    <!-- End of MAIN HEADING -->

    <!-- SEARCH BAR -->
    <div class="row justify-content-center">
        <div class="card col-8">
            <!-- search bar form -->
            <form class="search-bar" method="POST" action="{{ url_for('search') }}">
                <!-- search bar -->
                <div class="input-group">
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                    <input type="search" class="form-control rounded" placeholder="Search for a cocktail or ingredient..." aria-label="Search"
                      aria-describedby="search-addon" name="search" id="search" minlength="3" required/>
                </div>
                <!-- search submit button -->
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="{{ url_for('index') }}" class="btn btn-success">Reset</a>
            </form>
        </div>
    </div>
    <!-- End of SEARCH BAR -->

    <!-- MAIN CONTENT -->
    <div class="container-fluid">
        <h2>Heading</h2>
        <p>
            Content here
        </p>
        <!-- link to view all recipes -->
        <p>
            Click <a href="{{ url_for('get_cocktails') }}">Here</a> To View All Cocktail Recipes
        </p>
        <!-- link to register for account -->
        <p>
            <a href="{{ url_for('register') }}">Create an Account</a> to Add and Edit Your Own Recipes!
        </p>
    </div>
    <!-- End of MAIN CONTENT -->

{% endblock %}