{% extends "base.html" %}
{% block content %}
    <!-- LOG IN CARD PANEL -->
    <div class="row justify-content-center login-card">
        <div class="card col-8">
            <div class="card-body">
                <h3 class="card-title">Log In</h3>
                <h6 class="card-subtitle mb-2 text-muted">Test</h6>
                <!-- log in form -->
                <form class="login-form" method="POST" action="{{ url_for('register') }}">
                    <!-- username field -->
                    <div class="mb-3">
                        <i class="fas fa-user-circle"></i>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" required>
                    </div>
                    <!-- password field -->
                    <div class="mb-3">
                        <i class="fas fa-lock"></i>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" required>
                    <!-- log in submit button -->
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End of LOG IN CARD PANEL -->
    <div>
        <p>Don't Have An Account?</p><a href="{{ url_for('register') }}">Register Here!</a>
    </div>
{% endblock %}