{% extends "base.html" %}
{% block content %}
        <!-- NEW COCKTAIL CARD PANEL -->
        <div class="row justify-content-center">
            <div class="card col-10">
                <div class="card-body">
                    <h2 class="card-title">New Cocktail Recipe</h2>
                    <!-- cocktail name field -->
                    <div class="mb-3">
                        <label for="cocktail_name">Cocktail Name</label>
                        <input type="text" class="form-control" name="cocktail_name" id="cocktail_name" 
                        minlength="3" maxlength="30"
                            required>
                    </div>

                    <!-- choose main alcohol selection menu -->
                    <div class="mb-3">
                        <select class="form-select" name="main_alcohol" id="main_alcohol" 
                        aria-label="Main Alcohol Selection" required>
                            <option selected>Choose Main Alcohol...</option>
                            <option value="1">Vodka</option>
                            <option value="2">Gin</option>
                            <option value="3">Rum</option>
                        </select>
                    </div>

                    <!-- ingredients text area -->
                    <div class="mb-3">
                        <label for="cocktail_ingredients">Ingredients</label><br>
                        <textarea name="cocktail_ingredients" id="cocktail_ingredients" class="form-control" 
                        rows="4" required>
                                                </textarea>
                    </div>

                    <!-- steps text area -->
                    <div class="mb-3">
                        <label for="cocktail_steps">Steps</label><br>
                        <textarea name="cocktail_steps" id="cocktail_steps" class="form-control" rows="4" required>
                                                </textarea>
                    </div>

                    <!-- cocktail imgage url input -->
                    <div class="mb-3">
                        <label for="cocktail_img_url">Cocktail Image URL</label>
                        <input type="text" class="form-control" name="cocktail_img_url" id="cocktail_img_url" required>
                    </div>

                    <!-- new cocktail recipe submit button -->
                    <button type="submit" class="btn btn-primary">Add Recipe</button>
                </div>
            </div>
        </div>
{% endblock %}