{% extends "base.html" %}
{% block content %}
        <!-- NEW COCKTAIL CARD PANEL -->
        <div class="row justify-content-center">
            <div class="card col-10">
                <div class="card-body">
                    <h2 class="card-title">New Cocktail Recipe</h2>
                    <!-- recipe form -->
                    <form>
                        <!-- cocktail name field -->
                        <label for="cocktail_name">Cocktail Name</label>
                        <input type="text" class="form-control" name="cocktail_name" id="cocktail_name"
                            minlength="3" maxlength="30">

                        <!-- new cocktail recipe submit button -->
                        <button type="submit" class="btn btn-primary">Add Recipe</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of REGISTRATION CARD PANEL -->
{% endblock %}