{% extends "base.html" %}
{% block content %}
    <!-- PROFILE CARD PANEL -->
    <div class="row justify-content-center profile-card">
        <div class="card col-8">
            <div class="card-body">
                <h3 class="card-title">{{ username }}'s Profile</h3>
                <div class="row">Username: {{ username }} </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
    <!-- End of PROFILE CARD PANEL -->

    <div class="row cocktail-card-panels">
        <h3 class="card-title">{{ username }}'s Cocktails</h3>
        {% for recipe in recipes %}
            <!-- only displays recipes created by current user -->
            {% if recipe.created_by == session["user"] %}
                <div class="col-md-4">
                    <div class="card cocktail-card">
                        <img src="{{ recipe.cocktail_image }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.cocktail_name }}</h5>
                            <p class="card-text">Main Alcohol: <strong>{{ recipe.category_name }}</strong></p>
                            <small>By: {{ recipe.created_by }}</small>
                        </div>
                        <a href="{{ url_for('cocktail_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">View Recipe</a>
                        <a href="{{ url_for('edit_cocktail', recipe_id=recipe._id) }}" class="btn btn-success">Edit</a>
                        <!-- triggers modal to open when clicked to prevent accidental deletions -->
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal_{{recipe._id}}">Delete</a>    
                    </div>
                </div>
            {% endif %}
            
            <!-- DELETE-COCKTAIL CONFIRMATION MODAL -->
            <div class="modal fade" id="delete_modal_{{recipe._id}}" aria-labelledby="Confirm Deletion Modal" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are You Sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Once you delete your delicious cocktail recipe, it's gone forever! <br>
                            Are you really sure you want to delete it?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <!-- cancel deletion; closes modal -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!-- confirms deletion of cocktail recipe -->
                        <a href="{{ url_for('delete_cocktail', recipe_id=recipe._id) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}