{% extends "base.html" %}
{% block content %}
    <!-- PROFILE CARD PANEL -->
    <div class="row justify-content-center profile-card">
        <div class="card col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{ username }}'s Profile</h1>
                <div class="row justify-content-center"><em>Username: {{ username }}</em></div>
                <div class="row">
                    <p>
                        Hey {{ username }}! Welcome to your profile! <br>
                        Here you'll find all the cocktail recipes that you've already created! <br>
                        Maybe you'll be inspired to create some more!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PROFILE CARD PANEL -->

    <!-- USER'S COCKTAILS CARD PANELS -->
    <div class="row cocktail-card-panels">
        <h2 class="card-title">Your Cocktails</h2>
        {% for recipe in recipes %}
            <!-- only displays recipes created by current user -->
            {% if recipe.created_by == session["user"] %}
                <div class="col-md-4 mb-3">
                    <div class="card cocktail-card h-100">
                        <img src="{{ recipe.cocktail_image }}" class="card-img-top h-100" alt="{{ recipe.cocktail_name }} Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.cocktail_name }} <br>
                                <a href="{{ url_for('edit_cocktail', recipe_id=recipe._id) }}" class="btn btn-success btn-sm">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                    <span class="sr-only">Edit</span>
                                </a>
                                <!-- triggers modal to open when clicked to prevent accidental deletions -->
                                <a class="btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#delete_modal_{{recipe._id}}">
                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                    <span class="sr-only">Delete</span>
                                </a> 
                            </h5>
                            <p class="card-text">Main Alcohol: <strong>{{ recipe.category_name }}</strong></p>
                        </div>

                        <div class="d-block gap-2 d-flex justify-content-center">
                            <a href="{{ url_for('cocktail_recipe', recipe_id=recipe._id) }}" class="btn btn-primary view-btn">View Recipe</a>
                        </div>   
                    </div>
                </div>
            {% endif %}
            
            <!-- DELETE-COCKTAIL CONFIRMATION MODAL -->
            <div class="modal fade" id="delete_modal_{{recipe._id}}" aria-labelledby="Confirm Deletion Modal" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header row">
                        <h4 class="modal-title">Are You Sure?</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Once you delete your delicious cocktail recipe, it's gone forever! <br>
                            Are you really sure you want to delete it?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <!-- cancel deletion; closes modal -->
                        <button type="button" class="btn btn-secondary reset-btn" data-bs-dismiss="modal">Cancel</button>
                        <!-- confirms deletion of cocktail recipe -->
                        <a href="{{ url_for('delete_cocktail', recipe_id=recipe._id) }}" class="btn del-btn">Delete</a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- End of COCKTAIL CARD PANELS -->

{% endblock %}