{% extends "base.html" %}
{% block content %}
    <!-- REGISTRATION CARD PANEL -->
    <div class="row justify-content-center register-card">
        <div class="card col-md-8">
            <div class="card-body">
                <h2 class="card-title">Register</h2>
                <h6 class="card-subtitle mb-2 text-muted">
                    Join our community today to share your own recipes with the world!
                </h6>
                <!-- registration form -->
                <form class="register-form" method="POST" action="{{ url_for('register') }}">
                    <!-- username field -->
                    <div class="mb-3">
                        <i class="fas fa-user-plus" aria-hidden="true"></i>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" aria-describedby="username-help"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" required>
                        <div id="username-help" class="form-text">
                            Choose a username between 5-15 alphanumerical characters.
                        </div>
                    </div>
                    
                    <!-- password field -->
                    <div class="mb-3">
                        <i class="fas fa-lock" aria-hidden="true"></i>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" aria-describedby="password-help"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" required>
                        <div id="username-help" class="form-text">
                            Password must be between 5-15 characters. Alphanumerical only.
                        </div>
                    </div>
                    
                    <!-- registration submit button -->
                    <div class="d-block gap-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary register-btn">Register</button>
                    </div>
                </form>

                <!-- login link -->
                <div>
                    <p>Already Registered?</p><a href="{{ url_for('login') }}">Log In Here!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of REGISTRATION CARD PANEL -->
{% endblock %}