{% extends "base.html" %}
{% block content %}
    <!-- REGISTRATION CARD PANEL -->
    <div class="row justify-content-center register-card">
        <div class="card col-8">
            <div class="card-body">
                <h3 class="card-title">Register</h3>
                <h6 class="card-subtitle mb-2 text-muted">Test</h6>
                <!-- registration form -->
                <form class="register-form" method="POST" action="{{ url_for('register') }}">
                    <!-- username field -->
                    <div class="mb-3">
                        <i class="fas fa-user-plus"></i>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            aria-describedby="username-help">
                        <div id="username-help" class="form-text">
                            Choose a username between 5-15 alphanumerical characters.
                        </div>
                    </div>
                    <!-- password field -->
                    <div class="mb-3">
                        <i class="fas fa-lock"></i>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" aria-describedby="password-help">
                        <div id="username-help" class="form-text">
                            Password must be.</div>
                        </div>
                    <!-- registration submit button -->
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End of REGISTRATION CARD PANEL -->
{% endblock %}